/*Grid Anlegen
main kommt ins Grid, sodass Kinderelemente(sections) aufgeteilt werden*/

header{
    text-align: center;
    padding-bottom: 40px;
}
main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    padding-bottom: 100px;
}

/*Überschriften formatieren mit Tagselektor*/
h1,h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /*Schriftarten mit Fallback anlegen */
}

/*paragraph stylen*/
p{
    font-family: Arial, Helvetica, sans-serif;
}

/*Gang-Name formatieren* mit Klassenselektor*/
.gang-name{
    text-transform: uppercase; /*Großbuchstaben*/
    letter-spacing: 1px; /*Platz zwischen Buchstaben*/
}

.gang-beschreibung{
    font-style: italic; /*kursiv*/
}

/*Form formatierung*/
form{
    grid-column: 2 / 3;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

form h2{
    font-family: 'Arial Narrow', Arial, sans-serif;
}

.name-grid{
    display: grid;
    grid-template-columns: max-content 300px; /*max-content: so lang wie inhalt*/
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.checkbox-ul{
    list-style-type: none;
    text-align: left;
    padding-left: 0px;
    padding-bottom: 5px;
}

.checkbox-ul li{
    margin-bottom: 5px;
}

/*Body Formatierung*/
body{
    padding-left: 10px;
}